* {box-sizing: border-box;}
 
body {margin: 0;
    
    background-color: #2c3440;
    color: white;
    font-family: 'Roboto', sans-serif;
}        
 
ul, ol {padding: 0;}
 
li {list-style-type: none;}

a {text-decoration: none; color: white
}

/* Navigation */
header{
    position: fixed;
    background-color: #2c3440;
    width: 100%;
    top: 0;
}
.logo{
    width: 230px;
    height: 90px;
    margin-left: 5%;
    margin-top: 6%;
}

.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    margin-left: 4%;
}
.nav3{
    display: flex;
    flex-direction: row;
}
.nave {
    font-size: 25px;
    font-weight: bold;
    color: #678;
    font-family: 'Roboto Condensed', sans-serif;
}
.nave:hover{
    color: white;
}
.item{
   margin: 12px;
}
.formDeBusqueda {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.busqueda {
    align-self: center;
    margin-right: 20px;
    
}
.logoynav{
    display: flex;
}

.search {
    height: 40px;
    border-radius: 10px;
    border:solid 3px #545454;
 }
 .bottonsearch{
    height: 40px;
    background-color: #678; 
    color: rgb(213, 225, 237);
    border-radius: 10px;
    border:solid 3px #545454;
 }
 .bottonsearch:hover{
    width: 70px;
    height: 50px;
 }
/* Footer */
.nombres{
    color: white;
    text-align: center;
    font-weight: lighter;
}
.iconos{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
}
.logotmdb {
    width: 50px;
    margin-right: 1%;
}